<div class="nolink-header">
    <img src="./images/squittal_icon_head.png" title="squittal" alt="squittal" />
    <span>squittal.MatchReportPlanetmans</span>
    <span>squittal.MatchReportPlanetmans</span>

    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Reports</NavLink>
</div>
