<div class="nolink-header">
    <img src="./images/squittal_icon_head.png" title="squittal" alt="squittal" />
    <span>squittal.MatchReportPlanetmans</span>
    <span>squittal.MatchReportPlanetmans</span>

    @*<NavLink class="nav-link" href="" Match="NavLinkMatch.All">Match Setup</NavLink>*@

    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Reports</NavLink>

    @*<NavLink class="nav-link" href="reports">Reports</NavLink>*@

    @*<div style="position: absolute; top: 0; right: 0; width: max-content; padding: 0.5rem 1rem;">
        <a title="Report Issues" class="external" href="https://github.com/squittal/squittal.MatchReportPlanetmans" target="_blank">
            <span class="oi oi-bug"></span>
        </a>
    </div>*@
</div>
